/*defaults */

/* Mobile-first  */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px; 
}

a {
    text-decoration: none;
    color: #222;
}

.wrap {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: 500;
    box-sizing: border-box;
}

header,
footer {
    background-color: #222;

}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

section {
    padding: 3%;
    background-color: #ffe6ac;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-play {
    padding-left: 5px;
}

img {
    width: 100%;
}
/******************************************* start:nav *******************************/

