{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.grid {
    background-color: bisque;
    padding: 5px;
    width: 800px;
    /* grid properties */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid > div {
    color: white;
    font-size: 2rem;
    padding: 5px;
}

.one {
    background-color: cadetblue;
}

.two {
    background-color: coral;
}

.two {
    background-color: lightgreen;
}