{
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.grid {
    background-color: bisque;
    padding: 5px;
    border: 1px dashed #333;
    width: 700px;
    /* grid properties */
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}

.grid > div {
    color: white;
    font-size: 2rem;
    padding: 5px;
}

.one {
    background-color: cadetblue;
}

.two {
    background-color: coral;
}

.three {
    background-color: lightgreen;
}
.four{
    background-color: blueviolet;
}

.five {
    background-color: brown;
}

.six {
    background-color: brown;
}

.seven{
    background-color: lightcoral;
}

.eight {
    background-color: red;
}

.nine {
    background-color: burlywood;
}
