/*defaults */

/* Mobile-first  */


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px; 
}


a {
    text-decoration: none;
    color: #222;
}

.wrap {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: 500;
    box-sizing: border-box;
}

header,
footer {
    background-color: #222;

}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

section {
    padding: 3%;
    background-color: #ffe6ac;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fa-play {
    padding-left: 5px;
}

img {
    width: 100%;
}


/***** start:nav *****/

.nav {
    margin: 0 auto;
    padding: 3%;
}





.nav-list li {
    display: block;
    padding: 13px 0;
    text-align: center;
    width: 100%;
    margin-top: 0;
    font-size: 14px;

}

.nav-list li a {
    color: #c78c06;


}

.main-logo {
    background-color: #c78c06;
}

.nav-list li img {
    width: 65px;
    float: left;
    vertical-align: bottom;
}

.nav-list li:hover {
    background-color: #c78c06;
    color: #222;
}

.nav-list li:hover a {
    color: #222;
}

.search-box {
    position: relative;
    margin-top: 10px;
    width: 100%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
}

.search-box #search {
    position: absolute;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 30px;
    padding: 10px;
    font-family: inherit;
    font-size: 13px;
}


.search-button {
    border: 1px solid #c78c06;
    width: 30px;
    height: 30px;
    display: block;
    position: absolute;
    line-height: 20px;
    text-align: center;
    right: 0px;
    background-color: #222;
    color: transparent;
    outline: none;

}

/* font awsome */

.fa-search {
    color: white;
    position: absolute;
    right: 8px;
}

.fa-search::before {
    font-size: 15px;
}


.fa-search {
    color: #c78c06;
    background-color: transparent;
    font-size: 25px;
}



/****** end:nav *****/



/***** start : banner *****/

.banner-wrap {
    background-image: url("../images/main-banner.jpg");
    background-size: cover;
    padding: 70px 0;
}

.banner h1 {
    font-size: 2.3rem;
    font-weight: 800;
    line-height: 1.4;
    color: white;
    margin-bottom: 15px;
}

.banner {
    background: rgb(0, 0, 0, 0.5); 
    padding: 40px 0 20px 10px;
    color: white;
}

.banner-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 25px 20px;
    background-color: #c78c06;
    font-size: 0.8rem;
}

/***** end: banner *****/

/* * * * * *Start : Main* * * * * * */


/* link button */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 20px 20px;
    background-color: #222;
    font-size: 0.8rem;
    color: white;
}


/***** start : about us*****/

/* flex */
.about-us {
    width: 100%;
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column-reverse;
}


.about-img img {
    width: 100%;
}

.about-text h2 {
    margin: 20px 0;
}

.about-text p:nth-child(3) {
    margin: 10px 0;
}

/***** end: about us*****/



/*****Start : Services*****/

#Services,
#Team {
    margin-top: 40px;
    background-color: #fff;

}

#Services h2 {
    margin-bottom: 10px;
}

.Services-box {
    background-color: #ffe6ac;
    margin-top: 15px;
}

.Services-wrap {
    padding: 15px;
}

#Services h3 {
    font-size: 1.3rem;
    font-weight: 700;
    padding: 10px 0;
}

/*****end : Services*****/


/***** start:vision *****/

#Vision {
    background-image: url("../images/vision.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 20%;
    color: white;
}

#Vision h2 {
    font-size: 1.4rem;
    margin: 10px 0;
}



.vision-btn {
    border: 1px solid #c78c06;
    margin-top: 15px;
    background-color: rgb(0, 0, 0, 0.6);
}

/***** end:vision *****/


/*****start:team*****/

.team-wrap {
    background-color: #ffe6ac;
}

.team-heading h2 {
    margin-bottom: 10px;
}

.team-wrap {
    margin-top: 12px;
}

.team-box:not(.team1, .team3) {
    padding: 10px 10px 20px 10px;
}


.team-box h3 {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 10px 0 5px 0;
}

/* subtitle of team box*/

.team-box h3+p {
    font-size: 1.2rem;
    font-weight: 800;
    border-bottom: 2px solid #be7d00;
    margin-bottom: 8px;
}

/*****end:team*****/

/*****start:contact*****/
#Contact {
    background-color: white;
}

#Contact h2 {
    font-size: 2rem;
}

#Contact h3 {
    font-size: 1.4rem;
    font-weight: 800;
}

.contact-box form {
    margin-top: 15px;
    width: 100%;
}

.contact-box form input {
    display: block;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.contact-box button {
    background-color: #222;
    color: #c78c06;
    padding: 5px;
    font-size: 0.8rem;
    margin-top: 15px;
}

.contact2 h3 {
    margin-top: 30px;
}

.table-wrap table {
    width: 100%;
    margin-top: 10px;
}

.table-wrap th,
tr,
td {
    border: 1px solid #222;
    padding: 13px;
}

.table-wrap thead {
    background-color: #ffe6ac;
}

.contact3 h3 {
    margin-top: 30px;
}



/*****end:contact******/


/* top-button */
.top {
    display: inline-block;
    background-color: #faac36;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 22px;
  }

  .fa-chevron-up{
    color: white;
    font-size: 23px;
    padding-top: 9PX;
  }

  .top:hover {
    cursor: pointer;
    background-color: #333;
  }

  

/* * * * * * start:footer * * ****/

footer {
    color: #c78c06;
    padding: 30px 0 25px 25px;
}

.footer-wrap p:nth-child(2) {
    margin-top: 10px;
}


/******Desktop******/


